GEMINI_API_KEY=AIzaSyBZGyEiDm58FGm68X1yVVXtiobQxODV6NQ
GEMINI_FLASH_MODEL=gemini-1.5-flash
GEMINI_PRO_MODEL=gemini-1.5-pro
USDA_API_KEY=0OIcc8KIajwud1eGQ6hnckTG9VkwSM7RAXsRqrig
GOOGLE_CLOUD_VISION_CREDENTIALS=path_to_service_account.json
UNSPLASH_ACCESS_KEY=your_unsplash_key
DATABASE_URL=sqlite+aiosqlite:///./nutrirx.db
FRONTEND_URL=http://localhost:3000
